<div class="review-response card col s5 green lighten-5">
  <div class="card-author">
    <span><%= company.name %>'s Response:</span>
  </div>
  <div class="card-title">
    <p><%= response.title %></p>
  </div>
  <div class="card-content">
    <p><%= response.content %></p>
  </div>
  <% if current_company == @company %>
    <%= link_to 'Edit Response', edit_company_review_response_path(company, review, response), class: 'btn' %>
    <%= link_to 'Delete Response', company_review_response_path(company, review, response), method: :delete, class: 'btn red' %>
  <% end %>
</div>