<%= form_for([company, review, response]) do |f| %>
  <% if @response.errors.any? %>
    <h6 class="red-text lighten-3">There are <%= pluralize(response.errors.count, 'error') %></h6>
    <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li class="red-text lighten-3"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content, class: "materialize-textarea" %>
  <%= f.submit "#{action}", class: "btn" %>
<% end %>