<div class="review-response card light-blue lighten-5 col s5">
  <div class="card-author">
    <span><%= image_tag gravatar(review.user), class: "avatar" %> <%= review.user.email %></span>
  </div>
  <div class="card-title">
    <p><%= link_to review.title, company_review_path(review.company, review) %></p>
  </div>
  <div>
    <%= star_rating_helper(review.rating) %>
  </div>
  <div class="card-content">
    <p><%= review.content %></p>

    <% if review.image.model.image? %>
      <%= image_tag review.image.url, width: '40%' %>
    <% end %>
  </div>
  <% if policy(review).edit? %>
    <%= link_to 'Edit', edit_company_review_path(@company, review), class: "btn-small" %>
  <% end %>
  <% if policy(review).destroy? %>
    <%= link_to 'Delete', company_review_path(review.company, review), method: :delete, data: {confirm: 'Are you sure?' }, class: "btn-small red" %>
  <% end %>
  <% if current_company == @company && !form %>
    <% if !review.response %>
      <%= link_to 'Respond', new_company_review_response_path(review.company, review), class: "btn" %>
    <% end %>
  <% end %>
</div>