<div class="container">
  <div class="row">
    <%= render partial: "shared/review", object: @review, as: :review %>
    <div class="col s5">
      <h5>Edit Response</h5>
      <%= form_for([@company, @review, @response]) do |f| %>
        <% if @response.errors.any? %>
          <p>There are <%= pluralize(@response.errors.count, 'error') %>
          <ul>
            <% @response.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :content %>
        <%= f.text_area :content, class: "materialize-textarea" %>
        <%= f.submit "Submit Response" %>
      <% end %>
    </div>
  </div>
</div>