<div class="container">
  <h1><%= @company.name %></h1>
  <p><%= @company.address %></p>
  <p><%= @company.telephone if @company.telephone %></p>
  <% if current_company == Company.find(params[:id]) %>
    <%= link_to "Edit Profile", edit_company_registration_path, class: "btn" %>
  <% end %>
  <div>
    <%= render 'shared/total_rating' %>
    <%= link_to "#{@reviews.count} reviews", company_reviews_path(@company), class: "btn blue lighten-3" %>
  </div>
  <div>
    <% if !current_company %>
      <%= link_to "Write a Review", new_company_review_path(@company), class: "btn" %>
    <% end %>
  </div>
</div>

<div class="container">
  <h5>Recent Reviews:</h5>
  <div class="row">
    <%= render partial: 'shared/review_response', collection: @recent_reviews, as: :review, locals: {form: false} %>
  </div>
</div>
