<%= form_for([@company, @review]) do |f| %>
  <% if @review.errors.any? %>
    <p>There are <%= pluralize(@review.errors.count, 'error') %></p>
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>    
      <% end %>
    </ul>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit "Save" %>
<% end %>
