<div class="container">
  <h1><%= @company.name %></h1>
  <%= render 'shared/total_rating' %>
  <div >
    <%= link_to "Review Company", new_company_review_path(@company), class: "btn" %>
  </div>
</div>

<div class="container">
  <h5>Reviews:</h5>
  <% @reviews.each do |review| %>
    <div class="review">
      <p class="review-title"><%= link_to review.title, company_review_path(@company, review) %></p>
      <p><%= star_rating_helper(review.rating) %></p>
      <p class="review-content"><%= review.content %></p>
      <% if policy(review).edit? %>
        <%= link_to 'Edit', edit_company_review_path(@company, review) %>
      <% end %>
      <% if policy(review).destroy? %>
        <%= link_to 'Delete', company_review_path(@company, review), method: :delete, data: {confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
