<h1>Reviews</h1>
<% @reviews.each do |review| %>
  <h3><%= review.title %></h3>
  <p><%= review.content %></p>
  
  <%= link_to 'Show', company_review_path(@company, review) %>
  <%= link_to 'Edit', edit_company_review_path(@company, review) %>
  <%= link_to 'Delete', company_review_path(@company, review), method: :delete, data: {confirm: 'Are you sure?' } %>  
<% end %>